.banner_image{
    background-image: url('../../../../public/image_banner.jpg'); /* chemin de votre image */
    background-position: center 70% ; /* centre l'image */
    width: 100%;
    height: 100vh;
    background-size: 100%;
    position: absolute;
    top: 0;
    z-index: -5;
    filter: brightness(0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner{
    height: 80vh;
}

.banner h1{
    position: absolute;
    top:45%;
    width: 100%;
    text-align: center;
}

.banner h2{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  }
  
  @media screen and (max-width: 767px) {
    .banner h1{
        top: 45%;
    }

    .banner h2{
        top: 60%;
    }
    .banner_image{
        background-size: 150%;
    }
  }
