.intro_tatoueuse {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000000;
}
.intro_tatoueuse_content_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_bottom_container{
    height: 25%;
    display: flex;
    justify-content: center;
}

.intro_tatoueuse_logo{
    height: 100%;
    object-fit: cover;
}

.design_title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3%;
}

.intro_tatoueuse span{
    width: 20%;
    height: 3px;
    background-color: #ffffff;
}

.intro_tatoueuse_title, .intro_tatoueuse_subtitle {
    width: auto;
    padding: 25px 0;
}

.intro{
    height: 65%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.intro_tatoueuse_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45%;
}

.intro_tatoueuse_content{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    gap: 5%;
    border-right: solid #ffffff 2px;
    overflow-x: hidden;
}

.photo_tatoueuse{
    height: 80%;
    width: 45%;
    object-fit: cover;
    filter: brightness(0.6);
    border: 2px solid;
}


.intro_aside{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro_tatoueuse_description{
    font-size: 25px;
    text-align: center;
}

.intro_realisation_title{
    text-align: center;
    font-size: 35px;
    width: 400px;
}

.dernier_projet_image{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.section_last_tattoo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 250px;
    gap: 3%;
}

.aside_2_tatoo{
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.tattoo_overflow{
    display: flex;
    height: 100%;
    overflow: hidden;
}

.first_tattoo{
    width: 25%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.tattoo2{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 15px;
}

.tattoo3{
    width: 100%;
    height: 30%;
    object-fit: cover;
    position: relative;
    top: 20px;
    border-radius: 10px;
}

.tattoo4{
    width: 100%;
    height: 35%;
    border-radius: 15px;
    object-fit: cover;
}

.tattoo5{
    width: 100%;
    height: 55%;
    border-radius: 15px;
    object-fit: cover;
    position: relative;
    top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro_tatoueuse span{
        width: 25%;
    }

    .intro_realisation_title{
        font-size: 30px;
        width: 300px;
    }

    .intro_tatoueuse_description{
        font-size: 22px;
    }

    .photo_tatoueuse{
        height: 250px;
    }
    .logo_bottom_container{
        height: 20%;
    }
  }

  @media screen and (max-width: 767px) {
    .intro_tatoueuse_container{
        flex-direction: column;
        height: 65%;
    }
    .dernier_projet_image{
        width: 90%;
        height: 60%;
    }
    .intro_tatoueuse_content{
        justify-content: center;
        border-right: none;
        flex-direction: row-reverse;
        height: 40%;
        width: 100%;
    }
    .logo_bottom_container{
        height: 15%;
    }
    .intro_tatoueuse span{
        width: 15%;
    }
    .intro_tatoueuse_content_title{
        height: 20%;
    }
    .section_last_tattoo{
        height: 200px;
        gap: 5%;
    }
    .dernier_projet_image{
        gap: 0;
    }
    .first_tattoo, .aside_2_tatoo{
        width: 30%;
    }
    .tattoo5, .tattoo3{
        top: 15px;
    }
    .photo_tatoueuse{
        width: 30%;
    }
    .intro_tatoueuse_description{
        font-size: 17px;
    }
    .intro_tatoueuse{
        justify-content: space-evenly;
    }
    .intro_realisation_title{
        font-size: 25px;
        width: 200px;
    }
    .intro_tatoueuse_logo{
        width: 125px;
        height: 125px;
    }
    .photo_tatoueuse{
        height: 100%;
    }
  }